/**
 *  SpotHype custom styles
 */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
/*
#login, #loggedin {
  display: none;
}
*/
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}
